@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.Navigation;

@inherits Panel
@implements INavigatorPage
@namespace Sandbox.UI.Panels

<root class="hc1">
    <PagePanel>
        <Body>
            <div class="inset column layout with-background" style="width: 15%;">
                <VerticalDividerPanel />
                <div class="layout padding-extra with-gap column">
                    <a class="button standard" onclick=@(()=>GameUtils.ReturnToMainMenu())><i>play_circle_outline</i>Disconnect</a>

                    <a class="button standard" href="/settings">
                        <i>settings</i>
                        Settings
                    </a>

                    <div class="button standard" onclick=@(()=>Quit())>
                        <i>power_settings_new</i>
                        Quit
                    </div>
                </div>

                <VerticalDividerPanel />
            </div>
        </Body>
    </PagePanel>
</root>

@code
{
    void Quit()
    {
        Game.Close();
    }
}
